{% extends "base.html" %}
{# This is so we can have generic form management #}

{% block content %}
    {% block actionlist %}
        <ul class="nav nav-pills pull-right">
            {% block actions %}{% endblock actions %}
        </ul>

        {% if display_search %}
            <form action="" method="get" role="search">
                <div class="input-group col-xs-3">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                    <input name="q" type="search" class="form-control small" placeholder="Filter" value="{{ request.GET.q }}">
                </div>
            </form>
        {% endif %}
        <div class="clearfix"></div>
    {% endblock actionlist %}

    {% block list_content %}
        <ul class="objects">
        {% for object in object_list %}
            <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
        {% endfor %}
        </ul>
    {% endblock list_content %}

    {% block buttons %}

    {% endblock buttons %}
{% endblock %}

